<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="footer-info">
            <h3 class="footer-logo">KyuraDev</h3>
            <p>
              A passionate web developer focused on creating beautiful and
              functional websites with clean and efficient code.
            </p>
            <div class="social-links mt-3">
              <a
                href="https://web.facebook.com/fatahulahmad.dzikri.9"
                class="social-icon"
                target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                href="https://www.youtube.com/@kyuradev"
                class="social-icon"
                target="_blank"
                ><i class="fab fa-youtube"></i
              ></a>
              <a
                href="https://www.instagram.com/kyuradev/"
                class="social-icon"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/fatahul-ahmad-dzikri-a1937a338/"
                class="social-icon"
                target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <a
                href="https://github.com/dzkrii"
                class="social-icon"
                target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="index.html#home">Home</a></li>
              <li><a href="index.html#about">About</a></li>
              <li><a href="index.html#services">Services</a></li>
              <li><a href="index.html#portfolio">Portfolio</a></li>
              <li><a href="index.html#articles">Articles</a></li>
              <li><a href="index.html#contact">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="footer-links">
            <h4>Services</h4>
            <ul>
              <li><a href="index.html#services">Web Development</a></li>
              <li><a href="index.html#services">UI/UX Design</a></li>
              <li><a href="index.html#services">Mobile App Development</a></li>
              <li><a href="index.html#services">SEO Optimization</a></li>
              <li><a href="index.html#services">Content Creation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2025 <strong>Portfolio</strong>. All Rights Reserved.
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-bottom-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
